/* root variable */
:root {
    /* color */
    --primary-color: #010101;
    --white: #ffffff;
    --black: #000000;
    /* linear color one */
    --lco-f: #F0B71F;
    --loc-s: #E03609;
    /* linear color two */
    --lct-f: #010101;
    --lot-s: #C4C4C4;
    /* fonts */
    --primary-font: "Montserrat", sans-serif;
    --secondary-font: "Orbitron", sans-serif;
}

/* universal style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html default style remove */
html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--black);
}

/* main container */
.cba-container {
    width: 100%;
    background-color: var(--primary-color);
}

/* --------------------------------------------------- */

/* section one style */
.cba-container > .section-one {
    width: inherit;
    background-color: transparent;
    height: 10%;
    display: flex;
}

/* section-one box style */
/* box one */
.cba-container > .section-one > .sbox-one:nth-child(1) {
    width: 7.5%;
    height: initial;
    background-color: transparent;
    border: 1px solid var(--loc-s);
    border-top: none;
    border-left: none;
}

/* box two */
.cba-container > .section-one > .sbox-one:nth-child(2) {
    width: 85%;
    height: initial;
    background-color: transparent;
    border: 1px solid;
    border-image: linear-gradient(45deg, var(--loc-s)50%, var(--lco-f))50% 1;
    border-top: none;
    border-left: none;
    border-right: none;
    position: relative;
}

/* nav bar style */
.cba-container > .section-one > .sbox-one:nth-child(2) > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 6rem;
}
/* responsive */
@media(max-width: 1536px) {
    .cba-container > .section-one > .sbox-one:nth-child(2) > nav {
        padding-top: 20px;
    }
}

/* brand name */
.cba-container > .section-one > .sbox-one:nth-child(2) > nav > a > h3 {
    font-family: var(--primary-font);
    font-size: 1.75rem;
    font-weight: bold;
    background: linear-gradient(45deg, var(--lco-f), var(--loc-s));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* nav menu */
.cba-container > .section-one > .sbox-one:nth-child(2) > nav > ul {
    display: flex;
    gap: 2.5rem;
    align-items: center;
    list-style-type: none;
}

.cba-container > .section-one > .sbox-one:nth-child(2) > nav > ul > li > a {
    color: var(--white);
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 500;
}

/* hover */
.cba-container > .section-one > .sbox-one:nth-child(2) > nav > ul > li > a:hover {
    background: linear-gradient(45deg, var(--lco-f), var(--loc-s));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* note: if active menu style needs then uncomment 2 style below */
/* active menu */
/* .cba-container > .section-one > .sbox-one:nth-child(2) > nav > ul > li > a.active {
    background: linear-gradient(45deg, var(--lco-f), var(--loc-s));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 100%;
} */

/* .cba-container > .section-one > .sbox-one:nth-child(2) > nav > ul > li > a.active::after {
    width: 100%;
} */

/* after */
.cba-container > .section-one > .sbox-one:nth-child(2) > nav > ul > li > a::after {
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    background: linear-gradient(45deg, var(--loc-s), var(--lco-f));
    transition: width 0.3s ease-in-out;
}

/* hover */
.cba-container > .section-one > .sbox-one:nth-child(2) > nav > ul > li > a:hover::after {
    width: 100%;
}

/* nav btn */
.cba-container > .section-one > .sbox-one:nth-child(2) > nav > button {
    padding: 0.5rem 1.5rem;
    background: linear-gradient(90deg, var(--lco-f), var(--loc-s));
    border: none;
    border-radius: 0.4rem;
    color: var(--white);
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

/* circle one */
.cba-container > .section-one > .sbox-one:nth-child(2) > .c-one {
    height: 3rem;
    width: 3rem;
    background-color: var(--loc-s);
    clip-path: circle(50% at 0% 100%);
    position: absolute;
    bottom: 0;
    left: 0;
}

/* circle two */
.cba-container > .section-one > .sbox-one:nth-child(2) > .c-two {
    height: 3rem;
    width: 3rem;
    background-color: var(--lco-f);
    clip-path: circle(50% at 100% 100%);
    position: absolute;
    right: 0;
    bottom: 0;
}

/* box three */
.cba-container > .section-one > .sbox-one:nth-child(3) {
    width: 7.5%;
    height: initial;
    background-color: transparent;
    border: 1px solid var(--lco-f);
    border-top: none;
    border-right: none;
}

/* ----------------------------------- */

/* section two style */
.cba-container > .section-two {
    width: inherit;
    background-color: transparent;
    display: flex;
}

/* section-two box style */
/* box one */
.cba-container > .section-two > .sbox-two:nth-child(1) {
    width: 7.5%;
    height: initial;
    background-color: transparent;
    border: 1px solid var(--loc-s);
    border-top: none;
    border-left: none;
    position: relative;
}

/* circle one */
.cba-container > .section-two > .sbox-two:nth-child(1) > .c-one {
    height: 3rem;
    width: 3rem;
    background-color: var(--loc-s);
    clip-path: circle(50% at 100% 0%);
    position: absolute;
    top: 0;
    right: 0;
}

/* box two */
.cba-container > .section-two > .sbox-two:nth-child(2) {
    width: 85%;
    height: initial;
    background-color: transparent;
    border: 1px solid;
    border-image: linear-gradient(90deg, var(--loc-s)50%, var(--lco-f))50% 1;
    border-top: none;
    border-right: none;
    border-left: none;
    /* section two content div */
    display: flex;
    flex-direction: column;
    /* inner circle */
    position: relative;
}

/* inner circle */
/* circle one */
.cba-container > .section-two > .sbox-two:nth-child(2) > .c-one {
    height: 3rem;
    width: 3rem;
    background-color: var(--loc-s);
    clip-path: circle(50% at 0% 100%);
    position: absolute;
    bottom: 0;
    left: 0;
}

/* circle two */
.cba-container > .section-two > .sbox-two:nth-child(2) > .c-two {
    height: 3rem;
    width: 3rem;
    background-color: var(--lco-f);
    clip-path: circle(50% at 100% 100%);
    position: absolute;
    right: 0;
    bottom: 0;
}

/* section two content div one */
.cba-container > .section-two > .sbox-two:nth-child(2) > .stbt-content-div-one {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2.5rem;
    z-index: 1;
}

/* heading */
.cba-container > .section-two > .sbox-two:nth-child(2) > .stbt-content-div-one > h1 {
    color: var(--white);
    font-family: var(--secondary-font);
    font-size: 12rem;
    font-weight: bold;
}

@media(max-width: 1536px) {
    .cba-container > .section-two > .sbox-two:nth-child(2) > .stbt-content-div-one > h1 {
        font-size: 9rem;
    }
}

/* section two content div two */
.cba-container > .section-two > .sbox-two:nth-child(2) > .stbt-content-div-two {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2.5rem;
    width: 100%;
}

/* sub-one */
.cba-container > .section-two > .sbox-two:nth-child(2) > .stbt-content-div-two > .scdt-sub-one {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 20%;
    margin-top: -25rem;
    position: relative;
    z-index: 3;
}

/* heading */
.cba-container > .section-two > .sbox-two:nth-child(2) > .stbt-content-div-two > .scdt-sub-one > h3 {
    color: var(--white);
    font-family: var(--primary-font);
    font-size: 1.75rem;
    font-weight: 500;
}

/* paragraph */
.cba-container > .section-two > .sbox-two:nth-child(2) > .stbt-content-div-two > .scdt-sub-one > p {
    color: var(--white);
    font-family: var(--primary-font);
    font-size: 0.875rem;
    font-weight: 300;
}

/* span one for horizontal line */
.cba-container > .section-two > .sbox-two:nth-child(2) > .stbt-content-div-two > .scdt-sub-one > span.scdt-sub-one-span-one {
    display: block;
    height: 0.15rem;
    width: 12.5rem;
    background-color: var(--loc-s);
    position: absolute;
    top: 2.3rem;
    left: 14rem;
}

/* span two for vertical line */
.cba-container > .section-two > .sbox-two:nth-child(2) > .stbt-content-div-two > .scdt-sub-one > span.scdt-sub-one-span-two {
    display: block;
    height: 12.5rem;
    width: 0.1rem;
    background: linear-gradient(var(--loc-s) , var(--lco-f));
    position: absolute;
    top: 2.3rem;
    left: 26.4rem;
}

/* blinking span circle one */
.cba-container > .section-two > .sbox-two:nth-child(2) > .stbt-content-div-two > .scdt-sub-one > span.scdt-sub-one-span-three {
    display: block;
    height: 2.5rem;
    width: 2.5rem;
    background: linear-gradient(rgba(240, 183, 31, 0.3) , rgba(240, 183, 31, 0.3));
    border-radius: 50%;
    animation: blink-one 1.25s infinite .75s;
    position: absolute;
    top: 13.5rem;
    left: 25.2rem;
}

@keyframes blink-one {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* blinking span circle two */
.cba-container > .section-two > .sbox-two:nth-child(2) > .stbt-content-div-two > .scdt-sub-one > span.scdt-sub-one-span-three > span.scdt-sub-one-span-three-inner {
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    background: linear-gradient(rgba(240, 183, 31, 0.47) , rgba(240, 183, 31, 0.47));
    border-radius: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: blink-two 1.25s infinite;
}

@keyframes blink-two {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

/* blinking span circle three */
.cba-container > .section-two > .sbox-two:nth-child(2) > .stbt-content-div-two > .scdt-sub-one > span.scdt-sub-one-span-three > span.scdt-sub-one-span-three-inner > span.scdt-sub-one-span-three-inner-inner {
    display: block;
    height: 0.75rem;
    width: 0.75rem;
    background: linear-gradient(rgba(240, 183, 31, 1) , rgba(240, 183, 31, 1));
    border-radius: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: blink-three 1.25s infinite;
}

@keyframes blink-three {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

/* ------------------------------- */

/* sub two */
.cba-container > .section-two > .sbox-two:nth-child(2) > .stbt-content-div-two > .scdt-sub-two {
    height: 50rem;
    width: 80%;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    z-index: 2;
}

.cba-container > .section-two > .sbox-two:nth-child(2) > .stbt-content-div-two > .scdt-sub-two > div {
    height: 50rem;
    width: initial;
    background: linear-gradient(var(--lot-s) , var(--lct-f));
    margin-top: -11rem;
}

.cba-container > .section-two > .sbox-two:nth-child(2) > .stbt-content-div-two > .scdt-sub-two > div > img {
    height: 50rem;
    width: 65rem;
    object-fit: cover;
}

/* sub three */
.cba-container > .section-two > .sbox-two:nth-child(2) > .stbt-content-div-two > .scdt-sub-three {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    width: 20%;
    margin-top: -25rem;
    z-index: 3;
}

/* heading */
.cba-container > .section-two > .sbox-two:nth-child(2) > .stbt-content-div-two > .scdt-sub-three > h3 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* normal */
.cba-container > .section-two > .sbox-two:nth-child(2) > .stbt-content-div-two > .scdt-sub-three > h3 > span:nth-child(1) {
    color: var(--white);
    font-family: var(--primary-font);
    font-size: 2.5rem;
    font-weight: 200;
}

/* bold */
.cba-container > .section-two > .sbox-two:nth-child(2) > .stbt-content-div-two > .scdt-sub-three > h3 > span:nth-child(2) {
    color: var(--white);
    font-family: var(--primary-font);
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: -0.25rem;
}

/* paragraph */
.cba-container > .section-two > .sbox-two:nth-child(2) > .stbt-content-div-two > .scdt-sub-three > p {
    color: var(--white);
    font-family: var(--primary-font);
    font-size: 0.875rem;
    font-weight: 300;  
    text-align: end;
}

/* button */
.cba-container > .section-two > .sbox-two:nth-child(2) > .stbt-content-div-two > .scdt-sub-three > button {
    padding: 0.5rem 1.5rem;
    background: linear-gradient(90deg, var(--lco-f), var(--loc-s));
    border: none;
    border-radius: 0.4rem;
    color: var(--white);
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

/* ---------------------------------------------------------- */

/* box three */
.cba-container > .section-two > .sbox-two:nth-child(3) {
    width: 7.5%;
    height: initial;
    background-color: transparent;
    border: 1px solid var(--lco-f);
    border-right: none;
    border-top: none;
    position: relative;
}

/* circle two */
.cba-container > .section-two > .sbox-two:nth-child(3) > .c-two {
    height: 3rem;
    width: 3rem;
    background-color: var(--lco-f);
    clip-path: circle(50% at 0% 0%);
    position: absolute;
    top: 0;
    left: 0;
}

/* ---------------------------------------------------------- */

/* section two content div three */
.cba-container > .section-two > .sbox-two:nth-child(2) > .stbt-content-div-three {
    display: flex;
    gap: 2.5rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem 5.5rem;
    width: 100%;
    z-index: 3;
}

/* sub-one */
.cba-container > .section-two > .sbox-two:nth-child(2) > .stbt-content-div-three > .scdth-sub-one {
    width: 50%;
    display: flex;
    justify-content: center; 
    align-items: center;
}

/* box */
.cba-container > .section-two > .sbox-two:nth-child(2) > .stbt-content-div-three > .scdth-sub-one > .scdth-sub-one-box {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-image: linear-gradient(45deg, var(--loc-s), var(--lco-f)) 1;
    border-radius: 1rem;
    padding: 1.75rem;
    margin-top: -20rem;
}

/* image box */
.cba-container > .section-two > .sbox-two:nth-child(2) > .stbt-content-div-three > .scdth-sub-one > .scdth-sub-one-box > .scdth-sub-one-img-box {
    width: 12.5rem;
    height: 16.25rem;
    background-color: var(--white);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

/* image */
.cba-container > .section-two > .sbox-two:nth-child(2) > .stbt-content-div-three > .scdth-sub-one > .scdth-sub-one-box > .scdth-sub-one-img-box > img {
    width: 12.5rem;
    height: 16.25rem;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
}

/* text box */
.cba-container > .section-two > .sbox-two:nth-child(2) > .stbt-content-div-three > .scdth-sub-one > .scdth-sub-one-box > .scdth-sub-one-text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;    
    gap: 0.25rem;
}

/* h3 */
.cba-container > .section-two > .sbox-two:nth-child(2) > .stbt-content-div-three > .scdth-sub-one > .scdth-sub-one-box > .scdth-sub-one-text-box > h3 {
    font-family: var(--primary-font);
    font-size: 2.75rem;
    font-weight: bold;
    background: linear-gradient(45deg, var(--lco-f), var(--loc-s));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 0.5rem;
}

/* h4 */    
.cba-container > .section-two > .sbox-two:nth-child(2) > .stbt-content-div-three > .scdth-sub-one > .scdth-sub-one-box > .scdth-sub-one-text-box > h4 {
    color: var(--white);
    font-family: var(--primary-font);
    font-size: 1.25rem;
    font-weight: 400;
    padding-bottom: 0.5rem;
}

/* p */
.cba-container > .section-two > .sbox-two:nth-child(2) > .stbt-content-div-three > .scdth-sub-one > .scdth-sub-one-box > .scdth-sub-one-text-box > p {
    color: var(--white);
    font-family: var(--primary-font);
    font-size: 0.75rem;
    font-weight: 300;
}

/* sub-two */
.cba-container > .section-two > .sbox-two:nth-child(2) > .stbt-content-div-three > .scdth-sub-two {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.25rem;
    margin-top: -20rem;
    padding: 1.5rem;
}

/* h3 */
.cba-container > .section-two > .sbox-two:nth-child(2) > .stbt-content-div-three > .scdth-sub-two > h3:nth-child(1) {
    color: var(--white);
    font-family: var(--primary-font);
    font-size: 2.3rem;
    font-weight: 300;
    text-transform: uppercase;
}

.cba-container > .section-two > .sbox-two:nth-child(2) > .stbt-content-div-three > .scdth-sub-two > h3:nth-child(2) {
    color: var(--white);
    font-family: var(--primary-font);
    font-size: 2.3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: -0.25rem;
    padding-bottom: 1rem;
}

/* p */
.cba-container > .section-two > .sbox-two:nth-child(2) > .stbt-content-div-three > .scdth-sub-two > p {
    color: var(--white);
    font-family: var(--primary-font);
    font-size: 0.875rem;
    font-weight: 300;
    letter-spacing: 2.5px;
    word-spacing: 2px;
}

/* sub-three */
.cba-container > .section-two > .sbox-two:nth-child(2) > .stbt-content-div-three > .scdth-sub-three {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.25rem;
    margin-top: -20rem;
    padding: 1.5rem;
}

/* div */
.cba-container > .section-two > .sbox-two:nth-child(2) > .stbt-content-div-three > .scdth-sub-three > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.25rem;
    background: #1a1a1a;
    border: 1px solid;
    border-image: linear-gradient(45deg, var(--loc-s), var(--lco-f))1;
    padding: 1.5rem;
}

/* h3 */
.cba-container > .section-two > .sbox-two:nth-child(2) > .stbt-content-div-three > .scdth-sub-three > div > h3 {
    background: linear-gradient(45deg, var(--lco-f), var(--loc-s));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--primary-font);
    font-size: 3.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

/* p */    
.cba-container > .section-two > .sbox-two:nth-child(2) > .stbt-content-div-three > .scdth-sub-three > div > p {
    color: var(--white);
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 2.5px;
    word-spacing: 2px;
}

/* ------------------------------------------------ */

/* section three */
.cba-container > .section-three {
    width: inherit;
    display: flex;
}

/* section three box style */
/* box one */
.cba-container > .section-three > .sbox-three:nth-child(1) {
    width: 7.5%;
    height: initial;
    background-color: transparent;
    border: 1px solid var(--loc-s);
    border-top: none;
    border-left: none;
    position: relative;
}

/* circle one */
.cba-container > .section-three > .sbox-three:nth-child(1) > span.c-one {
    height: 3rem;
    width: 3rem;
    background-color: var(--loc-s);
    clip-path: circle(50% at 100% 0%);
    position: absolute;
    top: 0;
    right: 0;
}

/* ------------------------- */

/* box two */
.cba-container > .section-three > .sbox-three:nth-child(2) {
    width: 85%;
    height: initial;
    background-color: transparent;
    border: 1px solid;
    border-image: linear-gradient(90deg, var(--loc-s)50%, var(--lco-f))50% 1;
    border-top: none;
    border-left: none;
    border-right: none;
    position: relative;
    /* section three content div */
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    /* inner circle */
    position: relative;
}

/* inner circle */
/* circle one */
.cba-container > .section-three > .sbox-three:nth-child(2) > span.c-one {
    height: 3rem;
    width: 3rem;
    background-color: var(--loc-s);
    clip-path: circle(50% at 0% 100%);
    position: absolute;
    bottom: 0;
    left: 0;
}

/* circle two */
.cba-container > .section-three > .sbox-three:nth-child(2) > span.c-two {
    height: 3rem;
    width: 3rem;
    background-color: var(--lco-f);
    clip-path: circle(50% at 100% 100%);
    position: absolute;
    right: 0;
    bottom: 0;
}

 /* ---------- */
/* top box */
.cba-container > .section-three > .sbox-three:nth-child(2) > .sbth-top-box {
    width: 100%;
    display: flex;
    gap: 5rem;
    justify-content: space-between;
    align-items: center;
}

/* top left box */
.cba-container > .section-three > .sbox-three:nth-child(2) > .sbth-top-box > .sbth-top-left-box {
    width: 50%;
    display: flex;
    gap: 2.5rem;
    flex-direction: column;
}

/* heading */
.cba-container > .section-three > .sbox-three:nth-child(2) > .sbth-top-box > .sbth-top-left-box > h3 {
    color: var(--white);
    font-family: var(--secondary-font);
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 2.5px;
    word-spacing: 2px;
    text-transform: uppercase;
}

.cba-container > .section-three > .sbox-three:nth-child(2) > .sbth-top-box > .sbth-top-left-box > h3 > span {
    background: linear-gradient(90deg, var(--lco-f), var(--loc-s));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* paragraph */
.cba-container > .section-three > .sbox-three:nth-child(2) > .sbth-top-box > .sbth-top-left-box > p {
    color: var(--white);
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 2.5px;
    word-spacing: 2px;
}

/* counters box */
.cba-container > .section-three > .sbox-three:nth-child(2) > .sbth-top-box > .sbth-top-left-box > .stlb-counter-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* counters */
.cba-container > .section-three > .sbox-three:nth-child(2) > .sbth-top-box > .sbth-top-left-box > .stlb-counter-box > .scb-counter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cba-container > .section-three > .sbox-three:nth-child(2) > .sbth-top-box > .sbth-top-left-box > .stlb-counter-box > .scb-counter > h3 {
    background: linear-gradient(90deg, var(--lco-f), var(--loc-s));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--primary-font);
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 2.5px;
    word-spacing: 2px;
    text-transform: uppercase;
}

.cba-container > .section-three > .sbox-three:nth-child(2) > .sbth-top-box > .sbth-top-left-box > .stlb-counter-box > .scb-counter > p {
    color: var(--white);
    font-family: var(--primary-font);
    font-size: 0.875rem;
    font-weight: 300;
}

/* top right box */
.cba-container > .section-three > .sbox-three:nth-child(2) > .sbth-top-box > .sbth-top-right-box {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cba-container > .section-three > .sbox-three:nth-child(2) > .sbth-top-box > .sbth-top-right-box > div {
    width: 100%;
    height: 42rem;
    background: linear-gradient(180deg , var(--lot-s) , var(--lct-f));
}

/* ------- */

/* bottom box */
.cba-container > .section-three > .sbox-three:nth-child(2) > .sbth-bottom-box {
    width: 100%;
    display: flex;
    gap: 5rem;
    justify-content: space-between;
    align-items: center;
}

/* botton left box */
.cba-container > .section-three > .sbox-three:nth-child(2) > .sbth-bottom-box > .sbth-bottom-left-box {
    width: 50%;
    height: 42rem;
    background: linear-gradient(180deg , var(--lot-s) , var(--lct-f));
}

/* bottom right box */
.cba-container > .section-three > .sbox-three:nth-child(2) > .sbth-bottom-box > .sbth-bottom-right-box {
    width: 50%;
    display: flex;
    gap: 2.5rem;
    flex-direction: column;
}

/* heading */
.cba-container > .section-three > .sbox-three:nth-child(2) > .sbth-bottom-box > .sbth-bottom-right-box > h3 {
    color: var(--white);
    font-family: var(--secondary-font);
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 2.5px;
    word-spacing: 2px;
    text-transform: uppercase;
}

.cba-container > .section-three > .sbox-three:nth-child(2) > .sbth-bottom-box > .sbth-bottom-right-box > h3 > span {
    background: linear-gradient(90deg, var(--lco-f), var(--loc-s));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* paragraph */
.cba-container > .section-three > .sbox-three:nth-child(2) > .sbth-bottom-box > .sbth-bottom-right-box > p {
    color: var(--white);
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 2.5px;
    word-spacing: 2px;
}

/* info box */
.cba-container > .section-three > .sbox-three:nth-child(2) > .sbth-bottom-box > .sbth-bottom-right-box > .sbrb-info-box {
    width: 100%;
    display: flex;
    gap: 2.5rem;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--lot-s);
    border-image: linear-gradient(45deg, var(--loc-s)50%, var(--lco-f))50% 1;
    padding: 1.5rem;
}

/* info box image */
.cba-container > .section-three > .sbox-three:nth-child(2) > .sbth-bottom-box > .sbth-bottom-right-box > .sbrb-info-box > .sbrb-info-box-img {
    width: 10rem;
    height: 10rem;
    background: var(--lot-s);
    border-radius: 1rem;
}

/* info box content/text */
.cba-container > .section-three > .sbox-three:nth-child(2) > .sbth-bottom-box > .sbth-bottom-right-box > .sbrb-info-box > .sbrb-info-box-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* info box heading */
.cba-container > .section-three > .sbox-three:nth-child(2) > .sbth-bottom-box > .sbth-bottom-right-box > .sbrb-info-box > .sbrb-info-box-text > h4 {
    color: var(--white);
    font-family: var(--primary-font);
    font-size: 1.75rem;
    font-weight: 600;
    letter-spacing: 2.5px;
    word-spacing: 2px;
}

/* info box paragraph */
.cba-container > .section-three > .sbox-three:nth-child(2) > .sbth-bottom-box > .sbth-bottom-right-box > .sbrb-info-box > .sbrb-info-box-text > p {
    color: var(--white);
    font-family: var(--primary-font);
    font-size: 0.875rem;
    font-weight: 300;
}

/* ------------------------- */

/* box three */
.cba-container > .section-three > .sbox-three:nth-child(3) {
    width: 7.5%;
    height: initial;
    background-color: transparent;
    border: 1px solid var(--lco-f);
    border-top: none;
    border-right: none;
    position: relative;
}

/* circle two */
.cba-container > .section-three > .sbox-three:nth-child(3) > span.c-two {
    height: 3rem;
    width: 3rem;
    background-color: var(--lco-f);
    clip-path: circle(50% at 0% 0%);
    position: absolute;
    top: 0;
    left: 0;
}